In [1]:
import pandas as pd
import numpy as np

In [2]:
df_base = pd.read_csv('nombres.csv')
df_base.head()

  state sex  year     name  quantity
0    MO   F  1910     Mary       611
1    MO   F  1910    Helen       313
2    MO   F  1910  Dorothy       270
3    MO   F  1910  Mildred       267
4    MO   F  1910     Ruth       237

In [3]:
df_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5933561 entries, 0 to 5933560
Data columns (total 5 columns):
state       object
sex         object
year        int64
name        object
quantity    int64
dtypes: int64(2), object(3)
memory usage: 226.3+ MB

In [4]:
df_mary = df_base[
    (df_base['sex'] == 'M') &
    (df_base['name'] == 'Mary')
]
df_mary.head()

      state sex  year  name  quantity
76848    MO   M  1913  Mary         6
78179    MO   M  1916  Mary         5
79914    MO   M  1920  Mary         9
80430    MO   M  1921  Mary         7
81976    MO   M  1924  Mary         5

In [6]:
df_base.reset_index().groupby('year').agg('sum').reset_index().tail(5)

     year         index  quantity
103  2013  278190786845   3075928
104  2014  283438936385   3137104
105  2015  285112748825   3128534
106  2016  285016553897   3091230
107  2017  281683410328   2990357

In [10]:
df_base.groupby('year').agg('sum').tail(5)

      quantity
year
2013   3075928
2014   3137104
2015   3128534
2016   3091230
2017   2990357

In [12]:
pd.pivot_table(df_base, values='quantity')

ValueError: Index contains duplicate entries, cannot reshape