In [1]:
import numpy as np
import pandas as pd

In [2]:
pnc_df = pd.read_excel('pnc_victimas.xlsx')
pnc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38569 entries, 0 to 38568
Data columns (total 21 columns):
núm_corre_f            38569 non-null int64
núm_corre              38569 non-null int64
año_ocu                38569 non-null int64
mes_ocu                38569 non-null int64
día_ocu                38569 non-null int64
día_sem_ocu            38569 non-null int64
hora_ocu               38569 non-null int64
g_hora                 38569 non-null int64
g_hora_mañ.tar.noch    38569 non-null int64
área_geo_ocu           38569 non-null int64
depto_ocu              38569 non-null int64
mupio_ocu              38569 non-null int64
zona_ocu               38569 non-null int64
sexo_per               38569 non-null int64
edad_per               38569 non-null int64
g_edad_60ymás          38569 non-null int64
g_edad_80ymás          38569 non-null int64
edad_quinquenales      38569 non-null int64
menor_mayor            38569 non-null int64
delito_com             38569 non-null int64
g_delitos              38569 non-null int64
dtypes: int64(21)
memory usage: 6.2 MB

In [8]:
# Agregar una serie con un valor fijo
pnc_df['denuncias'] = 1
pnc_df.head()

,núm_corre_f,núm_corre,año_ocu,mes_ocu,día_ocu,día_sem_ocu,hora_ocu,g_hora,g_hora_mañ.tar.noch,área_geo_ocu,...,zona_ocu,sexo_per,edad_per,g_edad_60ymás,g_edad_80ymás,edad_quinquenales,menor_mayor,delito_com,g_delitos,denuncias
0,1,1,2016,1,1,5,0,1,1,1,...,12,1,56,10,10,12,1,69,3,1
1,2,2,2016,1,1,5,8,2,1,2,...,99,1,42,7,7,9,1,69,3,1
2,3,3,2016,1,1,5,8,2,1,2,...,99,1,38,6,6,8,1,69,3,1
3,4,4,2016,1,2,6,15,3,2,2,...,99,1,69,11,12,14,1,69,3,1
4,5,5,2016,1,2,6,19,4,3,1,...,6,1,27,4,4,6,1,69,3,1

In [10]:
dep_mun_df = pnc_df[['depto_ocu', 'mupio_ocu', 'denuncias']]
dep_mun_df.head()

   depto_ocu  mupio_ocu  denuncias
0          1        101          1
1          6        602          1
2          2        204          1
3          1        105          1
4          1        101          1

In [11]:
dep_mun_agg_df = depmun_df.groupby(['depto_ocu', 'mupio_ocu']).agg('count')
dep_mun_agg_df.head(20)

                     denuncias
depto_ocu mupio_ocu
1         101             8600
          102              412
          103              348
          104                8
          105              194
          106              292
          107              214
          108             1662
          109               50
          110              386
          111               39
          112               15
          113              176
          114              605
          115             1536
          116              536
          117              413
2         201              146
          202               20
          203              100

In [6]:
depmun_agg_df.reset_index()

     depto_ocu  mupio_ocu  denuncias
0            1        101       8600
1            1        102        412
2            1        103        348
3            1        104          8
4            1        105        194
5            1        106        292
6            1        107        214
7            1        108       1662
8            1        109         50
9            1        110        386
10           1        111         39
11           1        112         15
12           1        113        176
13           1        114        605
14           1        115       1536
15           1        116        536
16           1        117        413
17           2        201        146
18           2        202         20
19           2        203        100
20           2        204         23
21           2        205         37
22           2        206         14
23           2        207        149
24           2        208         47
25           3        301        417
26           3        302         70
27           3        303         33
28           3        304         65
29           3        305         22
..         ...        ...        ...
309         20       2006         71
310         20       2007        188
311         20       2008         34
312         20       2009         70
313         20       2010         19
314         20       2011         53
315         21       2101        361
316         21       2102        105
317         21       2103         28
318         21       2104         12
319         21       2105         15
320         21       2106         45
321         21       2107         55
322         22       2201        271
323         22       2202         56
324         22       2203         32
325         22       2204         27
326         22       2205         77
327         22       2206         19
328         22       2207         31
329         22       2208          7
330         22       2209          5
331         22       2210         13
332         22       2211         25
333         22       2212         63
334         22       2213         20
335         22       2214         69
336         22       2215         13
337         22       2216         36
338         22       2217         26

[339 rows x 3 columns]

In [7]:
depmun_agg_df.reset_index().groupby('depto_ocu').agg('mean')

             mupio_ocu   denuncias
depto_ocu
1           109.000000  910.941176
2           204.500000   67.000000
3           308.500000   60.375000
4           408.500000   82.312500
5           507.500000  253.214286
6           607.500000   51.500000
7           710.000000   23.157895
8           804.500000   28.125000
9           915.960000   83.480000
10         1011.000000   53.333333
11         1105.000000  109.777778
12         1215.758621   27.413793
13         1316.500000   48.656250
14         1411.000000   28.190476
15         1504.500000   48.750000
16         1609.000000   97.117647
17         1707.500000   98.642857
18         1803.000000  276.800000
19         1906.000000   80.000000
20         2006.000000   99.727273
21         2104.000000   88.714286
22         2209.000000   46.470588

### Reto:

- Generar un df con la cantidad de denuncias que cada departamento tiene, promediando con base en la cantidad de municipios. Luego, exportar ese df a un archivo de excel que únicamente tenga el código del departamento y la cantidad promedio.

### Puntos extra:

Generar un df con la cantidad de denuncias de hombres, mujeres e indefinido para todos los municipios. Cada registro debe tener los siguientes datos:

- Código de departamento
- Código de municipio
- Sexo (1, 2, 99) (M, F, I)
- Cantidad de denuncias

El df debe estar exportado en excel y debe poder generarse desde cero a partir de un Jupyter Notebook.